<!-- 
      <app-userlogin  [hero]="data"></app-userlogin>
-->
    <!-- <router-outlet>        -->

 <!-- <app-user (parentFunction) = "parentFunction($event)">
   <br><br>
   <h1>{{name}}</h1></app-user>
   <app-userlogin></app-userlogin>
</router-outlet>  -->

<!-- <h1>Angular - Parent child component data passing</h1>
<h4>Parent Component</h4>
<hr><hr>
<app-user [inputFromParent] = "inputText" (outputFromChild) = "receiveChildData($event)"></app-user> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-pipe></app-pipe>    -->
<!-- <app-http-req></app-http-req> -->
<!-- 
<div>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
         <a href="#" class="navbar-brand">Techiediaries</a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item" routerLink="products" routerLinkActive="active">
            <a href="javascript: void(0)" class="nav-link">Products</a>
          </li>
          <li class="nav-item" routerLink="create" routerLinkActive="active">
            <a href="javascript: void(0)" class="nav-link">Create</a>
          </li>
          <li class="nav-item">
            <a routerLink="create" class="nav-link">Create</a>
          </li>
        </div>
      </nav>
    
      <div class="container mt-5">
        <router-outlet></router-outlet>
      </div>
    </div> -->
<!-- <app-parent></app-parent> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-product-details>
</app-product-details> -->
<app-file-upload></app-file-upload>
<!-- <app-product-list></app-product-list> -->
